.wrap {
  width: 100vw;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
